
* {
    box-sizing: border-box;
}

header {
    background-color: black;
    padding: 30px;
    display: flex;
    justify-content: right;
    margin: -8px;
}
nav > a {
    margin: 10px;
    color: white;
    text-decoration: none;
}

nav > a:hover {
    color: green;
    transition-duration: .5s;
}